.sectionTop {
    position: relative;
    top: 0;
    overflow: hidden;
    margin: 0px 0px;
    height: 742px;
}

.sectionTop>video {
    position: absolute;
    width: 100%;
}

.mainBox {
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.container>.left>img {
    width: 350px;
}

.navElements {
    display: flex;
    gap: 35px;
    margin-right: 27px;
    align-items: center;
}

.navElements>ul {
    display: flex;
    gap: 35px;
    align-items: center;
}

.navElements>ul>li {
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: #ffff;
}

.navElements>button {
    padding: 8px 23px;
    background: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    border: 2px solid #ffff;
    border-radius: 44px;
}

.navElements>button:hover {
    background: #fff;
    color: #000000;
    transition: 150ms ease-in;
    cursor: pointer;
}

.containers2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 160px;
    color: #ffff;
}

.containers2>:nth-child(1) {
    font-size: 70px;
    font-weight: 700;

}

.containers2>:nth-child(2) {
    font-size: 70px;
    font-weight: 400;

}

.containers2>:nth-child(3) {
    font-size: 80px;
    padding: 8px 23px;
    background: none;
    color: #ffff;
    font-size: 17px;
    font-weight: 600;
    height: 44px;
    border: 2px solid #ffff;
    border-radius: 44px;
}

.containers2>:nth-child(3):hover {
    background: #fff;
    color: #000000;
    transition: 150ms ease-in;
    cursor: pointer;
}

/* 2nd section */
.section2Mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;

}

.section2Mid>.sec2Head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.sec2Mid1,
.sec2Mid2 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.sec2Mid1>img,
.sec2Mid2>img {
    width: 272px;
    width: 272px;
    border-radius: 8px;
}

.head1 {
    font-size: 40px;
    font-weight: 700;
    color: #ca0000;
}

.head2 {
    text-align: center;
    width: 412px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}

.boxes1,
.boxes2 {
    /* background-color: #ececec; */
    width: 194px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0px 40px;
}
.part1>span{
    font-size: 20px;
    font-weight: 500;
}
.part1{
    text-align: center;
}
.part2{
    text-align: center;
    color: red;
    font-weight: 700;
}

.part3 {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 13px;
}
.part4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}